@import '_utils';

// Layout
body{
    background-color: var(--grey-dark);
    font-family: var(--font-family-outfit);
    color: var(--white-dark);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    padding: 1rem;
}

h3,h4{
    padding: 1rem;
}

// Menu
.menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5rem;
    border-radius: 10px;

    &--logo{
        width: 100%;
        display: flex;
        justify-content: center;
        &--x, 
        &--o{
            display: flex;
            justify-content: center;
            padding: .5rem;

            img{
                @include responsive-size(34px, 64px);
            }
        }
    }

    &--decision{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &--turn{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--grey-light);
        border-radius: 10px;
        box-shadow: 0 10px 0 0 var(--grey-shadow);

        &__mark{
            border-radius: 10px;
            background-color: var(--grey-dark);
            padding: 1rem;
            width: 80%;
            display: flex;
            justify-content: center;

            &--x:hover,
            &--o:hover{
                img{
                    transform: scale(1.2);
                }
            }
            
            &--x, 
            &--o{
                width: 50%;
                display: flex;
                justify-content: center;
                padding: .5rem;

                img{
                    @include responsive-size(34px, 64px);
                }
            }
            &--x{
                border-radius: 10px;
                background-color: var(--selected-background);
                 img{
                    filter: var(--selected-svg-color);
                }
            }

            &--o{
                border-radius: 10px;
                background-color: var(--selected-background);
                img{
                    filter: var(--selected-svg-color);
                }
            }
        }
    }
}

.logo{
    width: auto;
}

// Board
.board{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;    

    &--navigation{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-bottom: 1rem;

        &__menu{
            display: flex;
            align-items: center;
            justify-content: center;

            &--x,&--o{
                img{
                    width: 80%;
                    height: 80%;
                    min-width: 25px;
                    min-height: 25px;
                }
            }
        }
        &__turn{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            gap: .5rem;
            background-color: var(--grey-light);
            box-shadow: 0 5px 0 0 var(--grey-shadow);
            border-radius: 10px;
            padding: .5rem;


             &--image{
               img{
                    filter: brightness(0) saturate(100%) invert(79%) sepia(8%) saturate(1029%) hue-rotate(157deg) brightness(91%) contrast(86%);
                    width: clamp(24px, 8vw, 58px);
                    height: clamp(24px, 8vw, 58px);
                }
            }
            h4{
                padding: 0;
            }
        }
        &__restart{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &--panels{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 100%;
        height: auto;
        aspect-ratio: 1;
        gap: clamp(16px, calc(-4px + 4vw), 28px);
    }

    &--results{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-top: 1rem;
    }
}

.panel{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(199, 35%, 19%, 0.8); // Semi-transparent grey-light
    box-shadow: 0 10px 0 0 var(--grey-shadow);
    border-radius: 10px;

    img{
        @include responsive-size(34px, 64px);
        transition: transform 0.2s ease;
    }

    &:hover{
        cursor: pointer;
        transform: scale(1.05);
    }

    img:hover{
        transform: scale(1.1);
    }
}

.winXPannel{
    background-color: var(--blue-dark);
    box-shadow: 0 10px 0 0 var(--blue-shadow);
}
.winOPannel{
    background-color: var(--orange-dark);
    box-shadow: 0 10px 0 0 var(--orange-shadow);
}

.result{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--grey-dark);
    border-radius: 10px;
    padding: .8rem;

    &--player{

    }

    &--score{
        font-size: 2rem;
        font-weight: bold;
    }
}

// Banner
.banner{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    z-index: 10;
    background-color: var(--grey-light);
    padding: 2rem;

    &--title{

    }

    &--info{
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
         gap: 1rem;
         margin-bottom: 1rem;
    }

    &--decision{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        button{
            width: 100%;
            height: auto;
            padding: 1rem;
        }

        @include breakpoint('medium') {
            flex-direction: row;
        }  
    }
    &--restart{
        width: 60%;
        display: none;
        flex-direction: column;
        gap: 2rem;

        button{
            width: 100%;
            height: auto;
            padding: 1rem;
        }
        
        @include breakpoint('medium') {
            flex-direction: row;
        }   
        
    }
}   


// Overlay and Data Attributes
.overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    background-color: hsl(0, 0%, 0%);
    opacity: 50%;
    z-index: 2;
}

[data-visible='true']{
    display: block;
}

[data-game='active']{
    display: grid;
}

[data-game='inactive']{
    display: none;
}