$breakpoints: (
  'small': 480px,   // -> em's / 16px = 30em
  'medium': 820px,  // -> em's / 16px = 51.25em
  'large': 1024px // -> em's / 16px = 64em
);


@mixin breakpoint($name) {
  @if map-has-key($breakpoints, $name) {
    @media (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$name}' not found in \$breakpoints.";
  }
}

@mixin responsive-size($min-size, $max-size, $min-width: 480px, $max-width: 1024px) {
  width: clamp(#{$min-size}, calc(#{$min-size} + (#{$max-size} - #{$min-size}) * (100vw - #{$min-width}) / (#{$max-width} - #{$min-width})), #{$max-size});
  height: clamp(#{$min-size}, calc(#{$min-size} + (#{$max-size} - #{$min-size}) * (100vw - #{$min-width}) / (#{$max-width} - #{$min-width})), #{$max-size});
}